.header{
    width:100%;
    height:80px;
    background-color:rgb(20, 187, 34);
    color:white;
    font:bold;
    display:flex;
    h1{
        padding-left:30px;
    }
    p{
        margin: auto 20px auto 600px;
        font-size:20px;
    }
}

.edit-button{
    color:black;
    width:10%;
    margin: auto 25px auto auto;
    border-radius:5px;
}
.signout-button {
    color:black;
    margin: auto 25px auto auto;
    width:10%;
    border-radius:5px;
}

.login-button{
    color:black;
    margin: auto 25px auto auto;
    width:10%;
    border-radius:5px;
}

