.new-review{
    button{
        margin-bottom:30px;
        width:50%;
        border-radius:10px;
        background-color: rgb(20, 187, 34);
        color:white;
        height:40px;
        font-size:15px;
    }
    input{
        width:50%;
        border-radius: 10px;
        margin-bottom:15px;
        height:30px;
        font-size:15px;
    }
    textarea{
        width:50%;
        border-radius: 10px;
        margin-bottom:15px;
        height:150px;
        font-size:15px;
    }
    .review-input{
        margin-bottom:40px;
    }
    p{
        color:red;
    }
}